* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #474747;
	background-color: #fff;
	max-width: 800px;
	margin: 0 auto;
}

code {
	word-wrap: break-word;
	background: #bebebe;
	word-wrap: break-word;
	box-decoration-break: clone;
	padding: 0.2rem 0.4rem 0.3rem;
	border-radius: 0.2rem;
}

section {
	padding: 0;
	margin: 1rem 0;
}

.sectionArea {
	background-color: #dadada;
	padding: 1rem;
	margin: 0;
}

section h2 {
	margin: 0;
	padding: 1rem;
	background-color: #333;
	color: #fff;
}

.subArea h3 {
	margin-top: 0;
}

.subArea:nth-child(2) {
	margin-top: 1rem;
}

form {
	display: flex;
}

input {
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 0.2rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #555;
	background-color: #fff;
	background-image: none;
}

input[type='text'] {
	flex: 2;
	margin-right: 0.2em;
}

input[type='submit'] {
	flex: 1;
	margin-left: 0.2em;
	background-color: #333;
	color: #fff;
}
